@import url("https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap");

@font-face {
  font-family: BismillahScript;
  src: url(../tugas_ke_4/fons/Bismillah\ Script.ttf);
}

header {
  text-align: center;
  background: greenyellow;
  padding: 25px;
  border-radius: 10px;
  margin: 8px;
  margin-bottom: 15px;
  font-size: medium;
  text-transform: uppercase;
  font-family: "Rubik Puddles", cursive;
}

header p {
  color: rgb(90, 90, 90);
  text-transform: capitalize;
}

article {
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
  background-color: #eeeeee;
  border: #fff;
  border-radius: 10px;
}

p {
  letter-spacing: 1px;
  word-spacing: 2px;
  line-height: 130%;
  font-size: medium;
  font-family: cursive;
}

span {
  color: red;
}

.catatan {
  background-color: rgb(138, 255, 216);
  border-radius: 8px;
  border-left: 5px solid royalblue;
  margin: 20px;
  margin-bottom: 30px;
  margin-right: 30px;
  padding: 15px;
}

blockquote {
  text-transform: capitalize;
  background: rgb(180, 253, 253);
  font-style: italic;
  border-radius: 8px;
  border-left: 5px solid darkgoldenrod;
  /* margin jarak luar */
  margin: 20px;
  margin-bottom: 30px;
  margin-right: 30px;
  /* padding jarak dalam */
  padding: 15px;
}

.signature {
  font-family: "BismillahScript", cursive;
  font-size: 35px;
  color: red;
  text-align: right;
}

footer {
  text-align: center;
  margin-bottom: 0%;
}
