.card {
  background: #f9f9f9;
  text-align: center;
  place-content: center;
  place-items: center;
  height: 350px;
  width: 350px;
  border: 2px dashed #333;
  border-radius: 6px;
}
.area {
  width: 100px;
  height: 100px;
  place-content: center;
  margin: botton 6px;
  background: yellow;
}

.area h3,
.area p {
  margin: 0 auto;
}
.area p {
  font-size: 14px;
  color: #666;
}

.area-ib {
  background: goldenrod;
  display: inline-block;
}

.area-in {
  background: gold;
}

.area-in p {
  background: darkgrey;
  display: inline;
  padding: 6px;
}

.area-none {
  background-color: red;
  display: none;
  margin: 6px;
}

.card:hover .area-none {
  display: block;
}

/*  */
/* Flexbox (basic) */
.flexbox-area {
  display: flex;
  /* default: row */
  flex-direction: row;
  /* gap: jarak antar item */
  gap: 20px;
  /* default: flex-start */
  /* justify-content: flex-end; */
  justify-content: space-between;
}
.flexbox-area .card {
  height: 150px;
  width: 150px;
}
