/* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #dae2e0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23000000' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: #333;
  line-height: 1.6;
  padding-bottom: 50px;
}

/* Header & Judul */
header {
  background: linear-gradient(to bottom, #f59e0b, #fbbf24, #ddc76d);
  padding: 30px;
  text-align: center;
  margin: 0;
}

header img {
  width: 100px;
  margin-bottom: 10px;
}

h1 {
  color: #1e3a8a;
  font-size: 28px;
}

h2 {
  color: #1e3a8a;
  font-size: 22px;
  margin-bottom: 5px;
}

h3.section-title {
  font-size: 18px;
  margin-bottom: 10px;
  padding-left: 10px;
  border-left: 4px solid #fdd51f;
  color: #1e40af;
}

h4 {
  color: #6b7280;
  margin-bottom: 10px;
}

/* Navigasi */
nav {
  text-align: center;
  background: linear-gradient(to right, #ec6ead, #3494e6);
  padding: 20px;
}

nav a {
  display: inline-block;
  margin: 0 5px;
  padding: 8px 16px;
  text-decoration: none;
  color: #1e3a8a;
  border-radius: 20px;
  border: 2px solid #d1d5db;
  background: #fff;
  transition: 0.3s;
}

nav a:hover {
  background: #e0e7ff;
}

nav a.active {
  background: #1e3a8a;
  color: #fff;
}

p {
  color: #000000;
}
/* Box konten */
.box {
  background: #d3bbbb;
  border: 3px solid #e5e7eb;
  border-radius: 12px;
  padding-left: 20px;
  padding: 15px;
  margin: 20px auto;
  width: 500%;
  max-width: 800px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

/* Avatar / Foto */
.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #e5e7eb;
}

/* Tabel */
table {
  width: 90%;
  max-width: 800px;
  border-collapse: collapse;
  margin: 20px auto;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
}

thead {
  background: #1e3a8a;
  color: #fff;
}

th,
td {
  padding: 10px;
  border: 1px solid #e5e7eb;
  text-align: center;
}

/* Form */
form {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 20px;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
}

button {
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 5px;
}

button[type="reset"] {
  background: #6b7280;
  color: #fff;
}

button[type="submit"] {
  background: #1e3a8a;
  color: #fff;
}

.box ul,
.box ol {
  margin: 0;
  padding-left: 20px;
  line-height: 1.7;
}

/* === Galeri === */
.gallery h2 {
  color: rgb(221, 19, 19);
}

.gallery .Card {
  display: inline-block;
  width: 200px;
  margin: 15px;
  color: #333;
  overflow: hidden;
  border: 1px solid darkgoldenrod;
  border-radius: 10px;
}

.gallery .Card img {
  width: 200px;
  height: 140px;
  object-fit: cover;
}

.gallery .Card figcaption {
  background-color: #333;
  color: aqua;
  padding: 40px;
  font-size: medium;
  margin-top: -8px;
}

.gallery p {
  text-align: center;
}
